.bounty-poster {
    position: relative;
    width: 386px;
    height: 557px;
    background-size: cover;
    background-position: center;
  }
  
  .info-on-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    line-height: 0.3;
  }