#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background-image: url("https://img.freepik.com/free-photo/wooden-background_24972-623.jpg?w=1800&t=st=1700101644~exp=1700102244~hmac=ba7fdf9ea635a66d53526d2dc64ec9079dd6a1c37e090b54217dd0b4abfb19f5");
}